/* Background Color */
@media (min-aspect-ratio: 1/1) {
   * {
      background-color:oldlace
   }
} 
   
@media (max-aspect-ratio: 1/1) {
   * {
      background-color:rgb(209, 218, 255)
   }
} 

h1{
   color: midnightblue;
   text-align: center;
   text-decoration: underline;
   font-family: "Oswald", sans-serif;
}

#typeofmeeting{
   color: #3f3e46;
}

.date{
   color:rgb(85, 12, 119)
}

a[href^="https://"]{
   color:hsl(128, 98%, 22%)
}

a:hover {
   color: #04ba2f;
}

a:active{
   color:rgb(255, 0, 208)
}

h2,h3{
   text-align: center;
}

ol li{
   color:#910000
}

ul > li{
   color:rgb(54, 54, 133)
}

ol ~ b{
   color: color(srgb 0.5 0.5 0.5)
}

summary + p{
   background-color: rgb(203, 231, 255);
   & em{
      background-color: var(--cor,aliceblue);
   }
   
}

p.text{
   font-size: 20px;
}

summary:has(+ p){
   color: color-mix(in srgb, white, red);
}

#main{
   margin-top: 1pc;
   margin-bottom: 1pc;
   margin-left: 0.1em;
   margin-right: 0.1em;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   border-style: double;
   border-color:#910000;
   border-width: 0.5vh;
   border-radius: 3px;
}

#sec1{
   margin: 8pt 8pt 8pt 8pt;
   padding: 10px 10px 10px 10px;
   border-style: solid;
   border-color:#910000;
   border-width: 0.1vw;
   border-radius: 3px;
   display:inline-block;
}

header{
   display:block;
}

#vidaud{
   display:flex;
   flex-wrap: wrap;
   flex-flow: column;
   flex-direction: column;
   align-items: center;
}

#ceddin{
   height: 30em;
   width: 15em;
   max-width: 1000px;
   min-width: 1000px;   
   position:relative;
}

#deden{
   position:static;
}

fieldset{
   display:grid;
   grid-area:auto;
   grid-row:span;
   grid-column: span;
}